@font-face {
    font-family: 'OpenSans';
    src: url(fonts/OpenSans-Bold.woff) format('woff'),
        url(fonts/OpenSans-Bold.woff2) format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'OpenSans';
    src: url(fonts/OpenSans-Regular.woff) format('woff'),
        url(fonts/OpenSans-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'OpenSans';
    src: url(fonts/OpenSans-Light.woff) format('woff'),
        url(fonts/OpenSans-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: url(fonts/Merriweather-Light.woff) format('woff'),
        url(fonts/Merriweather-Light.woff2) format('woff2');
    font-weight: 400;
}